<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista Projetos</title>
</head>
<body background='https://image.freepik.com/fotos-gratis/textura-da-tela-azul_1253-76.jpg'>
<center>
    <table border="1" bgcolor="white">
        <tr>
            <td>Nome</td>
            <td>Data Início</td>
            <td>Data Final</td>
        </tr>
        {% for pro in projetos %}
            <tr>
                <td><a href="/listaatividades/{{pro[0]}}">{{pro[1]}}</a></td>
                <td>{{pro[2]}}</td>
                <td>{{pro[3]}}</td>
            </tr>
        {% endfor %}

    </table>
</center>
</body>
</html>